<div th:fragment="footer">
    <footer class="container py-1 bg-dark">
        <div class="row mt-5">
            <div class="col-12 col-md">
                <h2 class="py-4 d-none d-md-inline-block text-white">Breaking|News</h2>
                <small class="d-block mb-0 text-white">© 2021-2021</small>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-light">Новости</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="/">Новости</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-light">Добавить новость</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="/newsAdd">Добавить новость</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-light">О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="/aboutAs">О нас</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>