<div th:fragment="footer">
    <footer class="container py-1 bg-dark">
        <div class="row mt-5">
            <div class="col-12 col-md">
                <h2 class="py-4 d-none d-md-inline-block text-white">To-do List</h2>
                <small class="d-block mb-0 text-white">© 2022</small>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-light">Null</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="/">Null</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-light">Null</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="/">Null</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-light">Null</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="/">Null</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>